html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#spinner {
  margin-left: "200px";
}
/*body{
  min-width: 100%;
}

.root{
  overflow: auto;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
