.registerContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    min-width: 100% !important;
    
  }
.registerContainer section{
    /* background: rgb(73,73,188);
    background: linear-gradient(90deg, rgba(73,73,188,1) 35%, rgba(98,228,255,1) 100%); */
   /*margin: 3%;*/
   max-width: 30%;
   /* max-height: 100% !important;
    max-width: 420px;
    min-height: 400px;*/
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    /* background-color:khaki; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    color:white;
}

a, a:visited {
    color: #fff;
}

input,
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

form button {
    margin-top: 2.5%;
  padding: 0.5rem;
  border: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
/*
view product css
 */

 .viewProd{
    display: flex;
    flex-direction: column;
align-items: center;
width: 100%  !important;
color:black;
 }

 .viewProd h1{
    color:white;
 }

.viewProd > *{
  min-width: 100%;
}

 .viewProd .btns{
    display: flex;
    justify-content: space-evenly;  
    margin: 2%;
    width: 100%;
 }

 .btns button {
    margin: 2%;
    padding: 1%;
    border: none;
 }

 td{
    margin: 100px;
 }