
.warehouse{
    display: flex;
    flex-direction: column;
    margin: 1.5%;
}
.warehouse .head {
    display: flex;
    justify-content: center;
}
.head button{
    border-radius: 10%;
    padding: 5%;
    color: white;
    border: 2px solid white;
    background-color: rgb(37,144,207);
}
.warehouse .head > *{
    padding: 1%;
}
.warehouse .cards-outer{
    text-align: center;
}

.warehouse .cards{
    width: 100%;
    display: inline-block;
    text-align: left;
    justify-content:  space-evenly;
    flex-wrap: wrap;
}

.warehouse .cards > *{
    display: inline-block;
    border: none;
    margin: 1%;
    color: black;
}

.newProd{
    margin: auto;
    width: 50%;
    margin-top: 1%;
}

.newProd section {
    padding : 5%;
    border: 5px solid white;
}

.regContainer{
    align-items: flex-start;
}

.regContainer .regSec{
    max-width: 50%;
    border: 5px solid white;
    padding: 5%;
}